<html{{ attributes }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}" />
        {{ importmap('app') }}
    </head>
    <body class="theme-{{ theme.value }}">
        <twig:Header />
        {% block body %}{% endblock %}
        <twig:Footer />
    </body>
</html>